body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    background-color: #000000;
}

.center-div {
    width: 100vw;
    height: 100vh;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
}

iframe{
    width:100vw;
    height:100vh;
    background-color: black;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}

.draft{
    margin-right:120px;
}